<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<!-- Load common head content, including the favicon link -->
    {% include "./partials/head.html" ignore missing with context %}
    <title>Home Page</title>
</head>

<body>
    <!-- include navbar from partials -->
    {% include "./partials/nav.html" ignore missing with context %}

    <h1>Dynamic content Examples</h1>
    <div class="timeBlock">
        <h3>Server time:</h3>
        <h4 id="serverTime">{{serverTime}}</h4>
    </div>

    <div class="timeBlock">
        <h3>Browser Time</h3>
        <h4 id="browserTime"></h4>
    </div>
    <!-- Load common CSS and JS -->
    {% include "./partials/dependencies.html" ignore missing with context %}
     <script src="/static/js/browserTime.js"></script>
    
    </body>

</html>